{% extends "base.html" %}
{% block title %}Faraja Cancer - Contact Us{% endblock title %}
{% block content %}
	<div class="container_12 clearfix">
		<div id="content_wrapper">
        	<div class="grid_12 page_title">
            	<h1>Contact us<span class="subtitle">Contact us for more information about our services</span></h1>
                    <div class="page_navigation">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li class="active"><a href="#">Contact us</a></li>
                        </ul>
                    </div>
            </div>        
            <div id="content" class="grid_12">
                <div class="content_single margin">
				<div class="post_img_single_full"> 
						<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=faraja+cancer+nairobi&amp;ie=UTF8&amp;hq=faraja+cancer&amp;hnear=Nairobi,+Nairobi+Province,+Kenya&amp;t=m&amp;cid=10563578555671614142&amp;ll=-1.262639,36.812611&amp;spn=0.017162,0.05991&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe>
						
                		</div>
                    	<h2 class="tagline">Contact us for more informations about our services</h2>
                        <div class="grid_12 alpha">
                        	<div class="box_gray">
                                <h4 class="margin_bottom_small">Contact Details</h4>
                                <p class="indentleft">P. O. Box 39173, 00800 Nairobi, Kenya<br>
				Tel: +254 (0) 20 - 374 0132, 374 0227, 374 0153<br>
				+254 (0) 727 - 844 882, (0) 737 - 844 882<br>
				(0)727 529287<br>
				Email: info@farajacancersupport.org</p>
                            </div>
                        </div>
                        
                </div>
                <br>
                 <!-- End articles -->
                <div id="comments">
                    <form id="commentform" method="post" action="#">
                        <p class="comment-form-author">
                            <label for="author">Name</label>
                            <span class="required">*</span>
                            <input id="author" type="text" aria-required="true" size="30" value="" name="author">
                        </p>
                        <p class="comment-form-email">
                            <label for="email">Email</label>
                            <span class="required">*</span>
                            <input id="email" type="text" aria-required="true" size="30" value="" name="email">                        
                        </p>
                        <p class="comment-form-url">
                            <label for="url">Website</label>
                            <input id="url" type="text" size="30" value="" name="url">
                        </p>
                        <p class="comment-form-comment">
                        <label for="message">Message</label>
                        <textarea id="testtheme" aria-required="true" rows="8" cols="45" name="testtheme"></textarea>
                        </p>
                        <p><input id="submit" type="submit" value="Contact us!" name="submit"></p>
                    </form>
                </div>              
                                 
          </div>
        </div>
	</div>
{% endblock content %}