{% extends "base.html" %}
{% block title %}Faraja Cancer - Who we are{% endblock title %}
{% block content %}
	<div class="container_12 clearfix">
		<div id="content_wrapper">
        	<div class="grid_12 page_title">
            	<h1>Donate</h1>
                    <div class="page_navigation">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li class="active"><a href="#">Donate</a></li>
                        </ul>
                    </div>
            </div>        
            <div id="content" class="grid_9">
                <div class="content_single">
				<h1>Bank Account</h1>
				<div class="single_content">
					<p>You can donate to Faraja through the following ways:</p>
					<p>Account Name: Faraja Cancer Support Trust<br>
					<strong>Bank:</strong> Standard Chartered Bank Ltd<br>
					<strong>Branch:</strong> Ukay Centre<br>
					<strong>Swift Code:</strong> SCBLKENXXX  <br>
					<strong>Branch Code:</strong> 07900<br>
					<strong>Account NOs:</strong>  <br>
					<strong>KES</strong> - 0102811202700<br>
					<strong>EUR</strong> - 9302811202700<br>
					<strong>GBP</strong> - 2802811202700<br>
					<strong>USD</strong> - 8702811202700
					</p>
				</div>
				<h1>M-PESA</h1>
				<div class="single_content">
					<p>You can also donate to FARAJA via MPESA on your Safaricom mobile phone number.</p>
					<p>Go to the Safaricom Menu on your phone,</p>
					<ul>
						<li>select the MPESA option,</li>
						<li>select the Pay Bill option.</li>
						<li>enter FARAJA's Business number 509700,</li>
						<li>for the account number enter the FARAJA business number 509700 again</li>
						<li>enter a donation amount of your choice</li>
						<li>put in your PIN</li>
						<li>confirm your transaction</li>
						<li>wait for a confirmation message from MPESA</li>
					</ul>
					<p>With these simple steps, you too can help FARAJA give HELP, HOPE, LIFE.  </p>
					<p>For any enquires on the MPESA donation or any other donation process, kindly send an email to info@farajacancersupport.org or call us on <strong>+254 (0)727 529 287</strong></p>
					<p>If you have any questions or queries about the M-PESA service go to the M-PESA homepage on the Safaricom website.</p>
				</div>
		</div>
          </div>
            <div id="sidebar" class="grid_3">                
                <div class="sidebar_wrapper">
                	<div class="sidebar_widget">
                    	<h4><span>Quicklinks</span></h4>
                		<ul>
                            <li><a href="#">Download our Brochures</a></li>
                            <li><a href="#">Newsletter</a></li>
                            <li><a href="/donate">Donate</a></li>
                            <li><a href="#">News</a></li>
                        </ul>
                	</div>
                    
                </div>
            </div>
        </div>
	</div>

{% endblock content %}