{% extends "base.html" %}
{% block title %}Faraja Cancer - Home{% endblock title %}
{% block content %}
	<div class="container_12 clearfix">
		<div id="content_wrapper">
        	<div class="grid_12 slider-wrapper theme-default"><!-- Nivo Slider -->
            <div class="ribbon"></div>
            <div id="slider" class="nivoSlider">
                <img src="/static/images/slide1.jpg"  title="#slide1" alt="Image"/>
                <img src="/static/images/nivoslider/slide2.jpg" title="#slide2" alt="Image"/>
                <img src="/static/images/nivoslider/slide3.jpg" title="#slide3" alt="Image" />
                <img src="/static/images/nivoslider/slide4.jpg" title="#slide4" alt="Image" />
				<img src="/static/images/nivoslider/slide5.jpg" title="#slide5" alt="Image" />

            </div>
			<div id="slide1" class="nivo-html-caption">
				<div class="nivoTitle">Therapy</div>
                    	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec aliquet posuere vulputate. Aliquam malesuada tortor quis magna pretium sit amet rhoncus risus pretium.</p>
			</div>            
			<div id="slide2" class="nivo-html-caption">
				<div class="nivoTitle">Meditation</div>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec aliquet posuere vulputate. Aliquam malesuada tortor quis magna pretium sit amet rhoncus risus pretium.</p>
			</div>       
			<div id="slide3" class="nivo-html-caption">
				<div class="nivoTitle">We'r DOCTORS!</div>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec aliquet posuere vulputate. Aliquam malesuada tortor quis magna pretium sit amet rhoncus risus pretium.</p>                    
			</div>
			<div id="slide4" class="nivo-html-caption">
				<div class="nivoTitle">Beauty and Clean</div>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec aliquet posuere vulputate. Aliquam malesuada tortor quis magna pretium sit amet rhoncus risus pretium.</p>                
			</div>
			<div id="slide5" class="nivo-html-caption">
				<div class="nivoTitle">Dr. House</div>
                    	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec aliquet posuere vulputate. Aliquam malesuada tortor quis magna pretium sit amet rhoncus risus pretium.</p>
			</div>                            
        </div><!-- Nivo slider end -->        
            <div id="content" class="grid_9">
                <div class="content_inner divider">
					<h2><span>The advice of the expert</span></h2>
                    <div class="grid_3 alpha columns">
                    	<a href="single.html"><img src="/static/images/samples/212x135.jpg" alt="Image alt" /></a>
                        	<h4 class="inner"><a href="single.html">Food and shopping in medical real world</a></h4>
                        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="grid_3 columns">
                    	<a href="single.html"><img src="/static/images/samples/212x135-2.jpg" alt="Image" /></a>
                   	  <h4 class="inner"><a href="single.html">Breathe mountain air is good for your health?</a></h4>
               		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="grid_3 omega columns">
                    	<a href="single.html"><img src="/static/images/samples/212x135-3.jpg" alt="Image" /></a>
                        	<h4 class="inner"><a href="single.html">How many times a week we have to do gymnastics?</a></h4>
           			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="content_inner divider">
					<h2><span>Latest News from our doctors</span></h2>
                    <div class="grid_3 alpha columns">
                    	<a href="single.html"><img src="/static/images/samples/212x135-4.jpg" alt="Image" /></a>
                        	<h4 class="inner"><a href="single.html">Recommended foods for optimal health</a></h4>
                        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="grid_3 columns">
                    	<a href="single.html"><img src="/static/images/samples/212x135-5.jpg" alt="Image" /></a>
                        	<h4 class="inner"><a href="single.html">5 good reasons to go on holiday in winter</a></h4>
               		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="grid_3 omega columns">
                    	<a href="single.html"><img src="/static/images/samples/212x135-6.jpg" alt="Image" /></a>
                        	<h4 class="inner"><a href="single.html">Mind and body: you know yourself?</a></h4>
           			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="content_inner divider">
                	<h2><span>Latest videos</span></h2>
                    <div id="carousel" class="es-carousel-wrapper">
                        <div class="es-carousel">
                            <ul>
                                <li><a href="#"><img src="/static/images/carousel/img-1.jpg" alt="image01" /></a></li>
                                <li><a href="#"><img src="/static/images/carousel/img-2.jpg" alt="image02" /></a></li>
                                <li><a href="#"><img src="/static/images/carousel/img-3.jpg" alt="image03" /></a></li>
                                <li><a href="#"><img src="/static/images/carousel/img-4.jpg" alt="image04" /></a></li>
                                <li><a href="#"><img src="/static/images/carousel/img-5.jpg" alt="image05" /></a></li>
                                <li><a href="#"><img src="/static/images/carousel/img-6.jpg" alt="image06" /></a></li>
                                <li><a href="#"><img src="/static/images/carousel/img-1.jpg" alt="image06" /></a></li>
                                <li><a href="#"><img src="/static/images/carousel/img-1.jpg" alt="image06" /></a></li>
                                <li><a href="#"><img src="/static/images/carousel/img-1.jpg" alt="image06" /></a></li>
                                <li><a href="#"><img src="/static/images/carousel/img-1.jpg" alt="image06" /></a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>
                <div class="content_inner">
                    <div class="columns_box grid_2_1 alpha">
                            <h2><span>Latest from blog</span></h2>
                    		<div class="blog_article_box">
                                <div class="blog_thumbnail_image">
                                    <a href="#"><img src="/static/images/samples/60x60-4.jpg" width="60" height="60" alt="image 60x60" /></a>
                                </div>
                                <div class="blog_thumbnail_inside">
                                    <h4 class="blog_thumbnail_title"><a href="#">Food and shopping in medical real world</a></h4>
                                    <div class="blog_thumbnail_date">Posted Sept 30, 2012</div>
                                    <div class="clear"></div>
                                    <div class="blog_thumbnail_context">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
                                </div> 
                        	</div>
                            <div class="blog_article_box">
                                <div class="blog_thumbnail_image">
                                    <a href="#"><img src="/static/images/samples/60x60-1.jpg" width="60" height="60" alt="image 60x60" /></a>
                                </div>
                                <div class="blog_thumbnail_inside">
                                    <h4 class="blog_thumbnail_title"><a href="#">5 good reasons to go on holiday</a></h4>
                                    <div class="blog_thumbnail_date">Posted Sept 30, 2012</div>
                                    <div class="clear"></div>
                                    <div class="blog_thumbnail_context">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
                                </div> 
                        	</div>
                            <div class="blog_article_box">
                                <div class="blog_thumbnail_image">
                                    <a href="#"><img src="/static/images/samples/60x60-2.jpg" width="60" height="60" alt="image 60x60" /></a>
                                </div>
                                <div class="blog_thumbnail_inside">
                                    <h4 class="blog_thumbnail_title"><a href="#">Mind and body: you know yourself?</a></h4>
                                    <div class="blog_thumbnail_date">Posted Sept 30, 2012</div>
                                    <div class="clear"></div>
                                    <div class="blog_thumbnail_context">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
                                </div> 
                        	</div>                                               
                    </div><!-- end blog entry -->
                    <div class="columns_box grid_2_1 omega">
                            <h2><span>SPECIALIST</span></h2>
                    		<div class="blog_article_box">
                                <div class="blog_thumbnail_image">
                                    <a href="#"><img src="/static/images/samples/60x60-1.jpg" width="60" height="60" alt="image 60x60" /></a>
                                </div>
                                <div class="blog_thumbnail_inside">
                                    <h4 class="blog_thumbnail_title"><a href="#">5 good reasons to go on holiday</a></h4>
                                    <div class="blog_thumbnail_date">Posted Sept 30, 2012</div>
                                    <div class="clear"></div>
                                    <div class="blog_thumbnail_context">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
                                </div> 
                        	</div>
                            <div class="blog_article_box">
                                <div class="blog_thumbnail_image">
                                    <a href="#"><img src="/static/images/samples/60x60-2.jpg" width="60" height="60" alt="image 60x60" /></a>
                                </div>
                                <div class="blog_thumbnail_inside">
                                    <h4 class="blog_thumbnail_title"><a href="#">Mind and body: you know yourself?</a></h4>
                                    <div class="blog_thumbnail_date">Posted Sept 30, 2012</div>
                                    <div class="clear"></div>
                                    <div class="blog_thumbnail_context">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
                                </div> 
                        	</div>
                            <div class="blog_article_box">
                                <div class="blog_thumbnail_image">
                                    <a href="#"><img src="/static/images/samples/60x60-3.jpg" width="60" height="60" alt="image 60x60" /></a>
                                </div>
                                <div class="blog_thumbnail_inside">
                                    <h4 class="blog_thumbnail_title"><a href="#">Recommended foods for optimal health</a></h4>
                                    <div class="blog_thumbnail_date">Posted Sept 30, 2012</div>
                                    <div class="clear"></div>
                                    <div class="blog_thumbnail_context">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
                                </div> 
                        	</div>                                               
                    </div>
                </div>                
                            
            </div>
            <div id="sidebar" class="grid_3">                
                <div class="sidebar_wrapper">
                	<div class="sidebar_widget">
                    	<h4><span>Categories</span></h4>
                		<ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                        </ul>
                	</div>
                    <div class="sidebar_widget">
                    	<h4><span>APPOINTMENT REQUEST</span></h4>
                            <form class="searchform_filters" method="post" action="#">
                                <select id="doctor">
                                <option selected="selected" value="0">Select Doctor</option>
                                <option value="theme_clean">Nardi</option>
                                <option value="theme_clean">Smith</option>
                                <option value="theme_clean">Pitbull</option>
                                <option value="theme_clean">Willow</option>
                                <option value="theme_clean">Adamaszek</option>
                                <option value="theme_clean">Clark Kent</option>
                                </select>
                                <select id="country">
                                <option selected="selected" value="0">Select Country</option>
                                <option value="theme_clean">Italy</option>
                                <option value="theme_clean">USA</option>
                                <option value="theme_clean">Spain</option>
                                <option value="theme_clean">France</option>
                                <option value="theme_clean">India</option>
                                <option value="theme_clean">German</option>
                                </select>
                                <select id="city">
                                <option selected="selected" value="0">Filter by City</option>
                                <option value="theme_clean">City 1</option>
                                <option value="theme_clean">City 2</option>
                                <option value="theme_clean">City 3</option>
                                <option value="theme_clean">City 4</option>
                                <option value="theme_clean">City 5</option>
                                <option value="theme_clean">City 6</option>
                                </select>        
                                <select id="therapy">
                                <option selected="selected" value="0">Filter by Therapy</option>
                                <option value="theme_clean">Psychodynamic</option>
                                <option value="theme_clean">Humanistic</option>
                                <option value="theme_clean">Eclecticism</option>
                                <option value="theme_clean">Practices of Therapists</option>
                                </select>     
                                <input type="text" onfocus="if(this.value == 'insert therapy name') { this.value = ''; }" value="insert therapy name" />
                                <input id="submit" type="submit" name="submit" value="Request Appointment" />
                            </form>
                	</div>
                    <div class="sidebar_widget">
                    	<h4><span>NEWSLETTER SIGNUP</span></h4>
                            <form class="searchform_filters" method="post" action="#">     
                                <input type="text" onfocus="if(this.value == 'Name') { this.value = ''; }" value="Name" />
                                <input type="text" onfocus="if(this.value == 'Email') { this.value = ''; }" value="Email" />
                                <input  type="submit" name="submit" value="Register now!" />
                            </form>
                	</div>
                    <div class="sidebar_widget">
						<h4><span>Latest articles</span></h4>
                    	<div class="article_box">
                        	<div class="article_box_img"> 
                            	<a href="#"><img src="/static/images/img-50x50.jpg" width="50" height="50" alt="image 50 50" /></a>
                            </div>
                        	<div class="article_box_title"><a href="#">Recommended foods for optimal health</a></div>
                            <div class="article_box_date">Posted Sept 30, 2012</div>
                        </div>
                    	<div class="article_box">
                        	<div class="article_box_img">
                            	<a href="#"><img src="/static/images/samples/50x50-2.jpg" width="50" height="50" alt="image 50 50" /></a>
                            </div>
                        	<div class="article_box_title"><a href="#">5 good reasons to go on holiday in winter</a></div>
                            <div class="article_box_date">Posted Sept 30, 2012</div>
                        </div>
                    	<div class="article_box">
                        	<div class="article_box_img">
                            	<a href="#"><img src="/static/images/samples/50x50-3.jpg" width="50" height="50" alt="image 50 50" /></a>
                            </div>
                        	<div class="article_box_title"><a href="#">Mind and body: you know yourself?</a></div>
                            <div class="article_box_date">Posted Sept 30, 2012</div>
                        </div>                                                
                	</div>
                    <div class="sidebar_widget">
                    	<h4><span>Text widget</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="sidebar_widget">
                    	<h4><span>Tags</span></h4>
                        <div class="tags"> 
                        	<a href="#">Doctors</a>
                        	<a href="#">Therapy</a>
                        	<a href="#">Hospital</a>
                        	<a href="#">Health blog</a>
                        	<a href="#">Healthcare</a>
                        	<a href="#">Wellness</a>
                        	<a href="#">Medicine</a>
                      	</div>
                	</div>
                </div>
            </div>
        </div>
	</div>
<div id="pre_footer">
    	<div class="pre_footer_wrapper">
            <div id="footersliding" class="container_12 clearfix">
                <div class="grid_3">
                    <h4><span>Text widget</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>                
                    
                    
                </div>
                <div class="grid_3">
                    <h4><span>Latest articles</span></h4>
                    <ul>
                        <li><a href="#">Examination of symptoms using latest technologies</a></li>
                        <li><a href="#">Ask our doctor a question!</a></li>
                        <li><a href="#">Health and care?</a></li>
                        <li><a href="#">Dental Hygienist Career</a></li>
                    </ul>
                </div>
                <div class="grid_3">
                    <h4><span>Most read</span></h4>
						<div class="article_box">
							<div class="article_box_img"> 
								<a href="#"><img src="/static/images/img-50x50.jpg" width="50" height="50" alt="image 50 50" /></a>
                            </div>
                        	<div class="article_box_title"><a href="#">The ultimate cure for patients</a></div>
                            <div class="article_box_date">Posted Sept 30, 2012</div>
                        </div>                    
						<div class="article_box">
							<div class="article_box_img"> 
								<a href="#"><img src="/static/images/img-50x50-2.jpg" width="50" height="50" alt="image 50 50" /></a>
                            </div>
                        	<div class="article_box_title"><a href="#">Dental Hygienist and patient</a></div>
                            <div class="article_box_date">Posted Sept 30, 2012</div>
                        </div>
                </div>
                <div class="grid_3">
                    <h4><span>Cetegories</span></h4>
                    <ul>
                        <li><a href="#">Doctors</a></li>
                        <li><a href="#">Therapy</a></li>
                        <li><a href="#">Medical</a></li>
                        <li><a href="#">Healthcare</a></li>
                    </ul>
                </div>
            </div>
		</div>
    </div>

{% endblock content %}