{% extends "base.html" %}
{% block title %}Faraja Cancer - Home{% endblock title %}
{% block content %}
	<div class="container_12 clearfix">
		<div id="content_wrapper">
        	<div class="grid_12 slider-wrapper theme-default"><!-- Nivo Slider -->
            <div class="ribbon"></div>
            <!-- Flex Slider -->
            <div class="flexslider" id="index-slider">
                  <ul class="slides">
			{% for news in news_list %}
				<li>
				    <img src="/static/{{news.picture|cut:"files/"}}"  alt="Slide image" />
				    <div class="flex-caption"><h3>{{news.text}}</h3></div>
				</li>
			{% endfor %}
                </ul>
            </div>
<!-- Flex Slider end -->                   
        </div><!-- Nivo slider end -->        
            <div id="content" class="grid_9">
                <div class="content_inner divider">
					<h2><span>Faraja Video</span></h2>
                    <iframe width="560" height="315" src="http://www.youtube.com/embed/cmdL6HgPKT0" frameborder="0" allowfullscreen></iframe>
                </div>
	    </div>
            <div id="sidebar" class="grid_3">                
                <div class="sidebar_wrapper">
                	<div class="sidebar_widget">
                    	<h4><span>Quicklinks</span></h4>
                		<ul>
                            <li><a href="#">Download our Brochures</a></li>
                            <li><a href="#">Newsletter</a></li>
                            <li><a href="/donate">Donate</a></li>
                            <li><a href="#">News</a></li>
                        </ul>
                	</div>
                    
                </div>
            </div>
        </div>
	</div>

{% endblock content %}