{% extends "base.html" %}
{% block title %}Faraja Cancer - Therapists{% endblock title %}
{% block content %}
	<div class="container_12 clearfix">
		<div id="content_wrapper">
        	<div class="grid_12 page_title">
            	<h1>Therapists</h1>
                    <div class="page_navigation">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li class="active"><a href="#">What We Do</a></li>
                        </ul>
                    </div>
            </div>        
            <div id="content" class="grid_9">
                <div class="content_single">
			<div class="post_img_single_full"> 
				<a href="#"><img src="/static/images/what1.jpg" width="686" height="250" alt="all browser" /></a>
			</div>
		
			<div class="single_content">
				{% autoescape off %}
				
				{% for therapist in therapists_list %}
				<div class="content_inner divider">
					<div class="post_img"> 
					<img src="/static/{{therapist.picture|cut:"files/"}}" width="118" height="145" alt="{{therapist.name}}" />
				    </div>
				    <div class="title">
					<h3>{{therapist.name}}</h3>
					
					
					{{therapist.text}}
				    </div>
				</div>
				{% endfor %}
				
				{% endautoescape %}
			</div>
		</div>
          </div>
            <div id="sidebar" class="grid_3">                
                <div class="sidebar_wrapper">
                	<div class="sidebar_widget">
                    	<h4><span>Quicklinks</span></h4>
                		<ul>
                            <li><a href="#">Download our Brochures</a></li>
                            <li><a href="#">Newsletter</a></li>
                            <li><a href="/donate">Donate</a></li>
                            <li><a href="/news">News</a></li>
                        </ul>
                	</div>
                    
                </div>
            </div>
        </div>
	</div>

{% endblock content %}