/*
  IE Hacks
*/

.top_navigation_social img:hover {
	border:0;
}
.content_inner .inner_more {
	background-color:#0580BA
}
.content_inner .inner_more:hover {
	background-color:#239DD6;
}
div.search_wrapper input[type="submit"] {
    background-image: url("../images/search-button-bg.png");
    border: 0 none;
    border-radius: 0 1px 1px 0;
    box-shadow: none;
    float: right;
    font-size: 11px;
    font-weight: normal;
	height: 32px;
	line-height: 11px;
    margin: 0;
    padding: 8px;
}
#wrapper {
    box-shadow: rgba(132, 138, 140, 0.1);
}